# Actividad Formativa 1: Análisis de datos del Titanic
En esta actividad, analizaremos el conjunto de datos del Titanic para responder a preguntas sobre la supervivencia de los pasajeros. Utilizaremos Python y bibliotecas como Pandas y Matplotlib para realizar el análisis.
 
 ## Objetivos:
- Cargar y explorar el conjunto de datos del Titanic.
- Realizar análisis descriptivos y cuantitativos sobre la supervivencia de los pasajeros.   

## Descripcción del conjunto de datos:
El conjunto de datos del Titanic contiene información sobre los pasajeros del famoso transatlántico que se hundió en 1912. Incluye columnas como:

- Id_Pasajero: Id de cada pasajero.

- Survived: esta característica tiene valor 0 y 1. 0 para no sobrevivió y 1 para sobrevi.

- Clase: Hay 3 clases: Clase 1, Clase 2 y Clase 3.

- Nombre: Nombre del pasajero.

- Sexo: Género del pasajero.

- Edad: Edad del pasajero.

- Familiares: numero de familiares del pasajero.

- Ticket: Número de ticket del pasajero.

- Tarifa: Indicando la tarifa.

- Cabina: La cabina del pasajero.

- Embarcado: La categoría embarcada.

### 1. Importa las bibliotecas necesarias: pandas y matplotlib.

### 2. Carga el conjunto de datos del Titanic y asignale el nombre `titanic`.

### 3. Muestra las primeras 5 filas del conjunto de datos.

### 4. Muestra las 10 útimas filas del conjunto de datos.

### 5. Muestra la información general del conjunto de datos.

### 6. ¿Cuántas filas hay en total?.

### 7. ¿Cuántas columnnas hay en total?.

### 8. Muestra las columnnas del dataframe.

### 9. Muestra sólo los datos de los hombres y nombra a este nuevo dataframe hombres.

### 10. Muestra sólo los datos de las mujeres y nombra a este nuevo dataframe mujeres.

### 11. Muestra sólo los datos de las peronas menores de 18 años.

### 12. Calcula la edad promedio de los pasajeros.

### 13. Calcula la edad promedio de los pasajeros.

### 14. Muestra los datos de las personas de las clases 1 y 2.

### 15. Muestra los datos de las personas que registraron su edad al abordar.

### 16. Muestra los nombre de los pasajeros mayores de 30 años que sobrevivieron al naufragio.

### 17.  Calcula el promedio de edad de los pasajeron que sobrevivieron.

### 18. Agrupa los datos por sexo y calcula la edad promedio de cada grupo.

### 19.  Agrupa los datos por clase y calcula  el promedio de edad de los pasajeros en cada clase.

### 20. ¿Cuántos pasajeros no registraron su edad?. ¿Cuántos de ellos sobrevieron?.

### 21. ¿Cuál fue la edad máxima y mínima de los pasajeros que no sobrevivieron?

### 22. ¿Cuál fue la edad máxima y mínima de los pasajeros que sobrevivieron?

23. ### ¿Cuál fue el porcentaje de supervivencia de los pasajeros del Titanic?

### 24.  Construye la gráfica de dispersion de `edad` y `tarifa`.

### 25. Elimina las filas que tienen datos faltantes en las columnas `edad` y `tarifa`.