# DataFrame
Un DataFrame en Python es una estructura de datos bidimensional proporcionada por la biblioteca Pandas. Se asemeja a una hoja de cálculo de Excel o a una tabla en una base de datos, donde los datos se organizan en filas y columnas.

## Características principales:
- Filas y columnas: Cada columna puede contener un tipo de dato diferente (números, cadenas, etc.), y cada fila representa una instancia de datos.
- Etiquetas: Tanto las filas como las columnas pueden tener etiquetas, lo que facilita la manipulación y el acceso a los datos.
- Métodos y atributos: Pandas ofrece una variedad de métodos para importar, manipular y analizar datos, como read_csv() para importar datos desde un archivo CSV, info() para obtener información sobre el DataFrame, y describe() para obtener estadísticas descriptivas.
- Para crear un dataframe en python se debe hacer uso de la libreria pandas. 

## ¿Qué es una librería en Python?
Una librería en Python es una colección de módulos y paquetes que contienen funciones, clases y métodos predefinidos. Estas librerías extienden la funcionalidad básica del lenguaje, permitiendo a los desarrolladores reutilizar código y acceder a funcionalidades adicionales sin tener que escribir todo desde cero. Por ejemplo, hay librerías para manipulación de datos, visualización, aprendizaje automático, y mucho más.

## ¿Qué es Pandas?
Pandas es una de las librerías más populares en Python para la manipulación y análisis de datos. Fue creada por Wes McKinney en 2008 y proporciona estructuras de datos poderosas y flexibles, como Series y DataFrames, que facilitan el trabajo con datos tabulares (similares a las hojas de cálculo de Excel).

Para usar la libreria pnadas en python debemos incluir el siguiente código
```python
import pandas as pd
```

## Ejemplo básico
```python
# Cargando la libreria pandas
import pandas as pd

# Crear un DataFrame a partir de un diccionario
data = {
    'Nombre': ['Ana', 'Luis', 'María'],
    'Edad': [23, 45, 34],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia']
}

df = pd.DataFrame(data)

print(df)

```

In [8]:
# Cargando la libreria pandas
import pandas as pd

# Crear un DataFrame a partir de un diccionario
data = {
    'Nombre': ['Ana', 'Luis', 'María'],
    'Edad': [23, 45, 34],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia']
}

df = pd.DataFrame(data)

print(df)

  Nombre  Edad     Ciudad
0    Ana    23     Madrid
1   Luis    45  Barcelona
2  María    34   Valencia

## Crea un dataframe con los datos de las personas del curso, las columnas son: nombre, apellido, edad, mascota. La columna mascota es booleano y depende de si la persona tiene mascota o no.

## Datraframe a partir de un diccionario
Tu diccionario debe tener el siguiente formato:

Las claves del diccionario serán los nombres de tus columnas.

Los valores asociados a cada clave deben ser listas (o arreglos de NumPy) que contengan los datos para esa columna específica. Es crucial que todas estas listas tengan la misma longitud, ya que cada elemento en la misma posición de cada lista formará una fila del DataFrame.

## Ejemplo

```python
import pandas as pd
datos_alumnos = {
    'Nombre': ['Ana', 'Juan', 'María', 'Pedro'],
    'Edad': [20, 22, 21, 23],
    'Carrera': ['Ingeniería', 'Derecho', 'Medicina', 'Arquitectura'],
    'Promedio': [8.5, 7.9, 9.1, 8.2]
}

```

In [10]:
import pandas as pd
datos_alumnos = {
    'Nombre': ['Ana', 'Juan', 'María', 'Pedro'],
    'Edad': [20, 22, 21, 23],
    'Carrera': ['Ingeniería', 'Derecho', 'Medicina', 'Arquitectura'],
    'Promedio': [8.5, 7.9, 9.1, 8.2]
}
# Creamos el DataFrame a partir del diccionario
df_alumnos = pd.DataFrame(datos_alumnos)

# Mostramos el DataFrame para ver su contenido
print(df_alumnos)

  Nombre  Edad       Carrera  Promedio
0    Ana    20    Ingeniería       8.5
1   Juan    22       Derecho       7.9
2  María    21      Medicina       9.1
3  Pedro    23  Arquitectura       8.2

Observa cómo pandas ha interpretado automáticamente:

Las claves del diccionario como los nombres de las columnas.

Las listas como los datos de cada columna.

Ha añadido un índice numérico por defecto (0, 1, 2, 3) para las filas.

## Otro ejemplo

```python
import pandas as pd

# Diccionario con información de productos
datos_productos = {
    'Producto': ['Laptop', 'Mouse', 'Teclado', 'Monitor'],
    'Precio': [1200, 25, 75, 300],
    'Stock': [50, 200, 150, 30],
    'Categoria': ['Electrónica', 'Accesorios', 'Accesorios', 'Electrónica']
}

# Crear el DataFrame
df_productos = pd.DataFrame(datos_productos)

# Imprimir el DataFrame
print(df_productos)
```

In [11]:
import pandas as pd

# Diccionario con información de productos
datos_productos = {
    'Producto': ['Laptop', 'Mouse', 'Teclado', 'Monitor'],
    'Precio': [1200, 25, 75, 300],
    'Stock': [50, 200, 150, 30],
    'Categoria': ['Electrónica', 'Accesorios', 'Accesorios', 'Electrónica']
}

# Crear el DataFrame
df_productos = pd.DataFrame(datos_productos)

# Imprimir el DataFrame
print(df_productos)

  Producto  Precio  Stock    Categoria
0   Laptop    1200     50  Electrónica
1    Mouse      25    200   Accesorios
2  Teclado      75    150   Accesorios
3  Monitor     300     30  Electrónica

# Data frame a partir de una lista

In [13]:
import pandas as pd

datos = [
    ['Ana', 23, 'Madrid'],
    ['Luis', 34, 'Barcelona'],
    ['Carlos', 45, 'Valencia']
]

columnas = ['Nombre', 'Edad', 'Ciudad']

df = pd.DataFrame(datos, columns=columnas)
print(df)

   Nombre  Edad     Ciudad
0     Ana    23     Madrid
1    Luis    34  Barcelona
2  Carlos    45   Valencia

# Data frame a partir de una lista de diccionarios

In [12]:
datos = [
    {'Nombre': 'Ana', 'Edad': 23, 'Ciudad': 'Madrid'},
    {'Nombre': 'Luis', 'Edad': 34, 'Ciudad': 'Barcelona'},
    {'Nombre': 'Carlos', 'Edad': 45, 'Ciudad': 'Valencia'}
]

df = pd.DataFrame(datos)
print(df)

   Nombre  Edad     Ciudad
0     Ana    23     Madrid
1    Luis    34  Barcelona
2  Carlos    45   Valencia

# Dataframe a patir de una lista simple

In [14]:
datos = ['Ana', 'Luis', 'Carlos']

df = pd.DataFrame(datos, columns=['Nombre'])
print(df)

   Nombre
0     Ana
1    Luis
2  Carlos

# Crear dataframe a partir de un archivo
### DataFrame a partir de un archivo CSV

```python
import pandas as pd

# Leer un archivo CSV y crear un DataFrame
df = pd.read_csv('archivo.csv')
print(df)
```

### Ejemplo carga el archivo datos.csv

In [18]:
import pandas as pd

# Cargar el archivo CSV
df1 = pd.read_csv('datos.csv')

# Mostrar el DataFrame
print(df1)

  Nombre  Edad   Curso  Nota
0    Ana    21  Física   6.5
1   Luis    22  Física   5.8
2  Carla    20  Física   7.2
3  Tomás    23  Física   4.9

### DataFrame a partir de un archivo Excel

```python
import pandas as pd

# Leer un archivo Excel y crear un DataFrame
df = pd.read_excel('datos.xlsx')
print(df)
```

In [21]:
import pandas as pd

# Leer un archivo Excel y crear un DataFrame
df = pd.read_excel('datos.xlsx')
print(df)

  Nombre  Edad   Curso  Nota
0    Ana    21  Física   6.5
1   Luis    22  Física   5.8
2  Carla    20  Física   7.2
3  Tomás    23  Física   4.9

## Métodos de dataframes

# 📊 Métodos comunes de DataFrames en Pandas (con ejemplos)

## 1. `.head(n)`
**Muestra las primeras `n` filas del DataFrame.**
```python
df.head(3)
```

## 2. `.tail(n)`
**Muestra las últimas `n` filas del DataFrame.**
```python
df.tail(2)
```

## 3. `.info()`
**Muestra un resumen del DataFrame: columnas, tipos de datos, valores no nulos.**
```python
df.info()
```

## 4. `.describe()`
**Estadísticas básicas (media, desviación, min, max...) de columnas numéricas.**
```python
df.describe()
```

## 5. `.shape`
**Devuelve una tupla con el número de filas y columnas.**
```python
df.shape  # (filas, columnas)
```

## 6. `.columns`
**Devuelve el listado de nombres de columnas.**
```python
df.columns
```

## 7. `.dtypes`
**Devuelve el tipo de datos de cada columna.**
```python
df.dtypes
```

## 8. `.isnull()`
**Indica con True/False si un valor es nulo.**
```python
df.isnull()
```

## 9. `.dropna()`
**Elimina filas con valores nulos.**
```python
df.dropna()
```

## 10. `.fillna(valor)`
**Rellena los valores nulos con `valor`.**
```python
df.fillna(0)
```

## 11. `.sort_values(by='col')`
**Ordena el DataFrame según una columna.**
```python
df.sort_values(by='Edad')
```

## 12. `.groupby('col')`
**Agrupa datos por una columna (útil para operaciones estadísticas).**
```python
df.groupby('Ciudad').mean()
```

## 13. `.value_counts()`
**Cuenta la frecuencia de cada valor en una columna.**
```python
df['Ciudad'].value_counts()
```

## 14. `.loc[filas, columnas]`
**Accede a filas/columnas por etiqueta.**
```python
df.loc[0, 'Nombre']  # primer nombre
```

## 15. `.iloc[fila, columna]`
**Accede por posición (índice entero).**
```python
df.iloc[0, 1]  # valor en fila 0, columna 1
```

## 16. `.rename(columns={'ViejoNombre': 'NuevoNombre'})`
**Renombra columnas.**
```python
df.rename(columns={'Edad': 'Años'})
```

## 17. `.drop('col', axis=1)`
**Elimina una columna.**
```python
df.drop('Ciudad', axis=1)
```

## 18. `.apply(func)`
**Aplica una función a cada valor de una columna.**
```python
df['Edad'].apply(lambda x: x + 1)
```

## 19. `.astype(tipo)`
**Cambia el tipo de datos de una columna.**
```python
df['Edad'] = df['Edad'].astype(float)
```

## 20. `.duplicated()`
**Detecta filas duplicadas.**
```python
df.duplicated()
```